.containers {
  min-height: 90vh;
  width: 100vw;
  max-width: 45rem;
  margin: 2rem auto;
  border-radius: 2rem;
  background-color: #14bdac;
  display: flex;
  justify-content: center; 
  position: relative;
}

.header {
  position: absolute;
  height: 8rem;
  margin-top: 1.5rem;
}
.header > h2 {
  text-align: center;
  color: #4d737d;
}
.header > h2 > span {
  color: #e7e4cc;
}

.Statu-Action {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-Reset {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #e7e4cc;
  font-weight: 700;
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.game-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-cell { 
  background: #14bdac;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  border-bottom: 1rem solid #4d737d;
}

#cell-1,#cell-4,#cell-7{
  border-right: 1rem solid #4d737d;
}

#cell-9 {
  border: none;
}

#cell-7,#cell-8{
  border: none;
  border-right:  1rem solid #4d737d;
}

#cell-2,#cell-5{
  border-right:  1rem solid #4d737d;
}
